<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
	<add name="SalonPhenEntities" connectionString="metadata=res://*/Modules.Database.csdl|res://*/Modules.Database.ssdl|res://*/Modules.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Desktop\SQL_SERVER;initial catalog=Salon;user id=sa;password=sa2025;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SalonPhenEntities" connectionString="metadata=res://*/Modules.Database.csdl|res://*/Modules.Database.ssdl|res://*/Modules.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=158.160.70.213,1433;initial catalog=Salon;user id=sa;password=sQLSER2282;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>